body {
  margin: 0;
  font-family: century gothic;
}
header {
  background: white;

}
.logo-section2 {
  width: 21%;
  display: inline-block;
}
.logo-section2 img{
  width: 50%;
  margin-left: 130px;
  margin-top: 4px;
  margin-bottom: -71px;
}
nav{
  float: right;
  margin-top: 36px;
  margin-right: 148px;
}
a{
  text-decoration: none;
  color: black;
  padding: 10px 10px;
}
nav a:hover{
  background: #af9191;
  border-radius: 10px;
}

section.banner-section2 {
  background-image: url(../images/22.jpeg);
  padding: 43px;
  padding-bottom: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

section.banner-section2 h1 {
  text-align: center;
  font-size: 110px;
  text-transform: uppercase;
  border: 2px solid black;
  color: #f1e3d0;
}

section.banner-section2 h3 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #f1e3d0;
  font-family: century gothic;
}

.about-div-left1 {
  color:  #af9191;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  font-family: century gothic;
  padding: 39px;
}

.slidershow{
  width: 1147px;
  height: 741px;
  margin-left: 100px;
  overflow: hidden;
}
.navigation{
  position: absolute;
  bottom: -789px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.3s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

section.slider {
  padding: 10px 0 100px;
  background: white;
}

.pictures11 {
  display: flex;
  justify-content: space-around;
}

.image-container11 {
  height: 500px;
  width: 800px;
  position: relative;

}
.ocarol {
  margin-left: 278px;
}

.image-container11 img {
  width: 70%;
  height: 70%;
  margin-left: 130px;

}

.image-container11::after {
  content: "'Albert Einstein'";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width:70%;
  height: 70%;
  position: absolute;
  left: 129px;
  opacity: 0;
  transition: opacity 0.5% ease;
  top: 0;
}

.image-container11:hover::after {
  opacity: 0.5;
}


.image-container12 {
  height: 500px;
  width: 800px;
  position: relative;
}
.wheein {
  margin-left: 252px;
}

.image-container12 img {
  width: 70%;
  height: 70%;
  margin-left: 80px;
}
.image-container12::after {
  content: "'Imagination'";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width:70%;
  height: 70%;
  position: absolute;
  left: 80px;
  opacity: 0;
  transition: opacity 0.5% ease;
  top: 0;
}

.image-container12:hover::after {
  opacity: 0.5;
}


.pictures12 {
  display: flex;
  justify-content: space-around;
}


.image-container13 {
  height: 500px;
  width: 800px;
  position: relative;

}
.hyejin {
  margin-left: 278px;
}

.image-container13 img {
  width: 70%;
  height: 70%;
  margin-left: 130px;

}

.image-container13::after {
  content: "'Family Awaits'";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width:70%;
  height: 70%;
  position: absolute;
  left: 129px;
  opacity: 0;
  transition: opacity 0.5% ease;
  top: 0;
}

.image-container13:hover::after {
  opacity: 0.5;
}


.image-container14 {
  height: 500px;
  width: 800px;
  position: relative;
}
.jisoo {
  margin-left: 252px;
}

.image-container14 img {
  width: 70%;
  height: 70%;
  margin-left: 80px;
}
.image-container14::after {
  content: "'The Painting'";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width:70%;
  height: 70%;
  position: absolute;
  left: 80px;
  opacity: 0;
  transition: opacity 0.5% ease;
  top: 0;
}

.image-container14:hover::after {
  opacity: 0.5;
}

.pictures13 {
  display: flex;
  justify-content: space-around;
}


.image-container15 {
  height: 500px;
  width: 800px;
  position: relative;

}
.park {
  margin-left: 304px;
}

.image-container15 img {
  width: 70%;
  height: 70%;
  margin-left: 130px;

}

.image-container15::after {
  content: "'Fall'";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width:70%;
  height: 70%;
  position: absolute;
  left: 129px;
  opacity: 0;
  transition: opacity 0.5% ease;
  top: 0;
}

.image-container15:hover::after {
  opacity: 0.5;
}



.view-button {
  border: 1px solid black;
  color: #e9e3d0;
  background-color: #934640;
  border-radius: 9px;
  margin-left: 620px;
}

.sentence2 {
  color:  #af9191;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  font-family: century gothic;
  padding: 39px;
}
section.cta-section {
  border-top: 2px solid black;
  padding: 50px 0;
  text-align: center;
  font-size: 40px;
  background: #934640;
  color: #f1e3d0;
}

.cta-section button {
  background: #792631;
    border: 1px solid;
    padding: 15px 20px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 13px;
    color: #f1e3d0;
}

/* footer*/
footer {
  background-color: #c3c1c2;
}
section.about-section{
  padding: 7px 0 0;
}
section.footer-section {
    background: #f1e3d0;
    color: black;
}
.footer-section{
  display: inline-block;
  color: black;
  margin-left: 21px;
}

.footer-section h5 {
    padding-bottom: 0px;
    margin: 17px;
    display: inline-block;
    color: black;
}}

.footer-section ul {

    display: inline-block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

.footer-section2 {
    color: black;;
    float: right;
    margin-right: 35px;

  
}